.container {
  width: 300px;
  height: 80px;
  background-color: tomato;
  position: absolute;
  border-radius: 5px;
  top: 0;
  right: 0;
  opacity: 0.8;
}

.title {
  font-size: 25px;
  padding: 10px;
  text-align: center;
}
